DB_URL=jdbc:postgresql://localhost:5432/ditto_feed
DB_USERNAME=postgres
DB_PASSWORD=postgres

REDIS_HOST=localhost
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

AWS_ACCESS_KEY=your-access-key
AWS_SECRET_KEY=your-secret-key
S3_BUCKET=your-bucket-name