server:
  port: 8085

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ditto_notification
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: create-drop
  data:
    redis:
      host: localhost
      port: 6379
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-service
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

app:
  sse:
    heartbeat-interval-ms: 30000
